<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modulo de becas</title>
</head>
<body>
    <header>
        <h1>Gestión de informes</h1>
    </header>
    <main>
        <section>
            <ul>
                <li>
                    <a href="generar-informe.html" rel="next">
                        Generar informe
                    </a>
                </li>
                <li>
                    <a href="informes-externos.html" rel="next">
                        Informes externos
                    </a>
                </li>
                <li>
                    <a href="mailto:">
                        Enviar informe
                    </a>
                </li>
            </ul>
        </section>
        <section>

        </section>
    </main>
</body>
</html>