{% extends 'layouts/base.html' %}

{% block content %}

<div class="container py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> 
            <a href="/home/"> Inicio</a></li>
            <li class="breadcrumb-item">
            <a href="{% url 'scholarship' %}">Becas</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Registrar Programa de Beca</li>
        </ol>
    </nav>
</div>
    <h1 class="text-center mt-5">Registrar una beca</h1>
    
    <form id="formID_add_scholarship" class="container p-5" method="post">
        {% csrf_token %}

        {{form.as_p}}
        
        <a href='add_type_scholarship' class="btn btn-primary">Agregar Tipo de Beca</a>
        <a href='delete_type_scholarship' class="btn btn-primary">Eliminar Tipo de Beca</a>

        <br><br>
        <button type="submit">
            Guardar
        </button>
    </form>
{% endblock %}

<!--
    <label for="nombre_beca">Icon*:</label> 
        <input type="name" name="nombre_beca"/>
        <br>

        {% for choice in choices %}
            <input type="checkbox" value="{{choice}}" name="my_field"/>{{choice}}
            <input type="text" name="my_field"/>
            <br>
        {% endfor %}

-->
