{% extends 'layouts/base.html' %}

{% block content %}

<div class="container py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> 
            <a href="/home/"> Inicio</a></li>
            <li class="breadcrumb-item">
            <a href="{% url 'scholarship' %}">Becas</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Registrar Programa de Beca</li>
        </ol>
    </nav>
</div>
    <h1 class="container p-4">Registrar una beca</h1>
    
    <form class="container p-5" method="post" action="{% url 'add_scholarship' %}">
        {% csrf_token %}

        <div class="form-section">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.donor_choice.label_tag }}
            {{ form.donor_choice }}
            <a href='/manage_donor' class="btn btn-secondary"><span style="font-size: medium;">Registrar Nuevo Donante</span></a>
        </div>

        <div class="form-section">
            <br>
            {{ form.calendar_choice.label_tag }}
            {{ form.calendar_choice }}
            <a href='/calendar_add' class="btn btn-secondary"><span style="font-size: medium;">Registrar Cronograma</span></a>
        </div>
        
        <div class="form-section">
            <br>    
            {{ form.post_img.label_tag }}
            {{ form.post_img }}
        </div>

        <div class="form-section">
            <br>
            {{ form.summary.label_tag }}
            {{ form.summary }}
            {{ form.target_audiences.label_tag }}
            {{ form.target_audiences }}
            {{ form.benefits.label_tag }}
            {{ form.benefits }}
            {{ form.recomendations.label_tag }}
            {{ form.recomendations }}
            {{ form.condition_params.label_tag }}
            {{ form.condition_params }}
            {{ form.renovation_info.label_tag }}
            {{ form.renovation_info }}
            {{ form.additional_info.label_tag }}
            {{ form.additional_info }}
            
        </div>
        
        <br><br>
        <button type="submit" class="btn btn-primary">
            Guardar 
        </button>
    </form>
{% endblock %}
  <!--
      <a href='add_type_scholarship' class="btn btn-secondary">Agregar Beneficio</a>
      <a href='delete_type_scholarship' class="btn btn-danger">Eliminar Beneficio</a>
  -->  