<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modulo de becas</title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="/signout/">Salir</a>
            </li>
            <li>
                <a href="/home/">Inicio</a>
            </li>
            <li>
                <a href="{% url 'scholarship' %}">Becas</a>
            </li>
            <li>
                <a href="https:">Gestión de Informes</a><br>
            </li>
            <li>
                <a href="{% url 'manage_user' %}">Gestión de usuarios</a><br>
            </li>
            <li>
                <a href="{% url 'calendar' %}">Cronogramas</a><br>
            </li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>