{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container p-5">
        <h1>Página Calendar</h1>
        <a href="{% url 'calendar_add' %}" class="btn btn-primary">
            Registrar Cronogramas
        </a>
    </div>

    <div class="container pl-5">Buscar una beca</div>

    <h2 class="container pl-5"> Cronogramas creados</h2>
    
    {% load send_id %}
    {% if calendar is defined %}
        {% for calendar in calendars %}
            <article class="card container p-5">
                <a href="{% send_id calendar.auto_id  %}" class="btn btn-primary">
                    Asociado a beca # {{calendar.scholarship_id}}
                </a>
            </article>

        {% endfor %}
    {% else %}
        <p>No existe ningún registro</p>
    {% endif %}

{% endblock %}