{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container p-5">
        <h1>Página Calendar</h1>
        <a href="{% url 'calendar_add' %}" class="btn btn-primary">
            Registrar Cronogramas
        </a>
    </div>

    <div>Buscar una beca</div>

    <h2> Cronogramas creados</h2>
    {% for calendar in calendars %}

        <article class="card">
            <a href="{% url 'calendar' %}" class="btn btn-primary">
                Para la beca: {{calendar.scholarship_id}}
            </a>
        </article>

    {% endfor %}

{% endblock %}