{% extends 'layouts/base.html' %}

{% block content %}
<div class="container py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> 
            <a href="/home/"> Inicio</a></li>
            <li class="breadcrumb-item">
            <a href="{% url 'scholarship' %}">Becas</a></li>
            <li class="breadcrumb-item"> 
              <a href="{% url 'add_scholarship' %}">Registrar Programa de Beca</a></li>
            <li class="breadcrumb-item active" aria-current="page">Eliminar Tipo De Beca </li>
        </ol>
    </nav>
  </div>
  
<form id="formID_delete_scholarship" class="container p-5" method="post">
    {% csrf_token %}
    
    {% for beca in tipos_beca %}
        <div class="card">
            <div class="card-body">
                <label for="beca_{{ beca.name }}">
                    <input type="checkbox" id="beca_{{ beca.name }}" name="tipos_beca" value="{{ beca.name }}">
                    {{ beca.name }}<br>
                </label>
            </div>
        </div>
    {% endfor %}
    
    <button type="button" onclick="confirmDelete()">Eliminar seleccionados</button>
</form>

<script>
    function confirmDelete() {
        if (confirm("¿Estás seguro de que deseas eliminar las becas seleccionadas?")) {
            const form = document.getElementById("formID_delete_scholarship");
            form.submit();
        }
    }
</script>
{% endblock %}
