{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container p-5 my-3 border">
        
        <a href="/manage_student/modify_student/{{ student.auto_id }}" class="btn btn-primary btn-sm">Volver</a>

        <div class="row d-flex align-items-center justify-content-center text-center text-xl mt-4">
            <h1 class="card-title">
                <a> Agregar beca para {{ student.name }}{{ student.lastname }}</a>
            </h1>
        </div>

        <div class="row d-flex align-items-center text-center text-xl">
            {% if search_term %}
                <p>Resultados de la búsqueda para: "{{ search_term }}"</p>
            {% endif %}

            <div class="row mb-3 justify-content-center">
                <div class="col-md-7 mt-3">
                    <form method="GET" class="d-flex justify-content-center">
                        <input type="text" name="search" class="form-control" placeholder="Buscar beca">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary border">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-center text-center text-xl">
            <table class="table mt-3 table-responsive">
                <thead>
                    <tr>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Resumen</th>
                                <th>Audiencia</th>
                                <th>Beneficios</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                <tbody>
                    {% for scholarship in scholarships %}
                    <tr>
                        <td>{{ scholarship.name }}</td>
                        <td>{{ scholarship.summary }}</td>
                        <td>{{ scholarship.target_audiences }}</td>
                        <td>{{ scholarship.benefits }}</td>
                        <td>
                            <a href= "linking_student2scholarship/{{scholarship.auto_id}}" class ="btn btn-primary btn-sm">Agregar</a>
                        </td>  
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
