{% extends 'base.html' %}

{% block content %}
    <h1>Agregar usuario</h1>

    <form action="/manage_user_2/" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Nombre">
        <input type="text" name="lastname" placeholder="Apellido">
        <input type="email" name="email" placeholder="Correo electrónico">
        <input type="text" name="phone" placeholder="Teléfono">
        <input type="text" name="rol" placeholder="Rol">

        <button>Agregar usuario</button>
    </form>

    <p>
        <a href="/manage_user">Volver</a>
    </p>
{% endblock %}
