{% extends 'layouts/base.html' %}

{% block content %}

    <div class="container p-5 my-3 border">
        <a href="/manage_student" class="btn btn-primary btn-sm">Volver</a>

        <div class="row d-flex align-items-center text-center text-xl">
            <h1 class="card-title mx-3 mb-4">
              Estudiante: {{student.name}} {{student.lastname}} {{" - "}} {{student.code}}
            </h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                                          
                    <div class="card">
                        <h1 class="card-title mx-3 mt-4">Modificar estudiante</h1>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" id="auto_id" style="margin-bottom: 10px;" value="{{student.auto_id|default:'Auto ID'|safe}}" name="auto_id" class="form-control" placeholder="Auto ID" readonly maxlength="50" required>
                                </div>
    
                                <div class="form-group">
                                    <input type="text" id="code" style="margin-bottom: 10px;" value="{{student.code|safe}}" name="code" class="form-control" placeholder="Código de estudiante"
                                        maxlength="50" required>
                                </div>
    
                                <div class="form-group">
                                    <input type="text" id="name" style="margin-bottom: 10px;" value="{{student.name|safe}}" name="name" class="form-control" placeholder="Nombre"
                                        maxlength="50" required>
                                </div>
    
                                <div class="form-group">
                                    <input type="text" id="lastname" style="margin-bottom: 10px;" value="{{student.lastname|safe}}" name="lastname" class="form-control" placeholder="Apellido"
                                        maxlength="50" required>
                                </div>
    
                                <div class="form-group">
                                    <input type="text" id="school" style="margin-bottom: 10px;" value="{{student.school|safe}}" name="school" class="form-control" placeholder="Escuela"
                                        maxlength="50" required>
                                </div>
    
                                <div class="form-group">
                                    <input type="text" id="email" style="margin-bottom: 10px;" value="{{student.email|safe}}" name="email" class="form-control" placeholder="Correo electrónico"
                                        maxlength="50" required>
                                </div>
    
                                <div class="form-group">
                                    <input type="text" id="phone" style="margin-bottom: 10px;" value="{{student.phone|safe}}" name="phone" class="form-control" placeholder="Teléfono"
                                        maxlength="50" required>
                                </div>
    
                                <div class="form-group">
                                    <input type="text" id="first_semester" style="margin-bottom: 10px;" value="{{student.first_semester|safe}}" name="first_semester" class="form-control" placeholder="Primer semestre"
                                        maxlength="50" required>
                                </div>
    
                                <div class="form-group mb-2">
                                    <input type="text" id="last_semester" style="margin-bottom: 10px;" value="{{student.last_semester|safe}}" name="last_semester" class="form-control" placeholder="Último semestre"
                                        maxlength="50" required>
                                </div>

                                <div style = "line-height: 0.5">
                                    <a style="font-size: 16px;">Seleccionar o <a href="/manage_student/add_major/" style="font-size: 16px; line-height: 0.8;">agregar nueva carrera:</a></a>
                                </div>                       

                                <div class="form-group mt-3">
                                    <select name="major_select" style="margin-bottom: 10px;" class="form-control col-md-6" style="margin-bottom: 10px;" id="major_select">
                                        {% for major in majors %}
                                            <option value="{{ major.auto_id }}" {% if major.auto_id == student.major_id %}selected{% endif %}>{{ major.name }}</option>
                                        {% endfor %}
                                        <option value="0">Ninguno</option>
                                    </select>                                    
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block text-white" style="margin-top: 10px;">Guardar</button>
                                </div>
                                
                                <div class="input-group mt-3 mb-3">
                                    <input type="text" class="form-control" id="student_scholarship" name="student_scholarship" placeholder='ID Beca'>
                                    <button type="submit" name="action" value="asociar_beca" class="btn btn-primary">Asociar Beca</button>
                                </div>
                                
                                                
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card">
                        <form method="POST" action="">
                            <div class="text-center">
                                <h1 class="card-title mx-3 mt-4">Aplicaciones a becas</h1>
                            </div>                            
                                <table class="table table-striped table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Beca</th>
                                            <th>Donante</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                            {% csrf_token %}
                                            {% for application in student.scholarshipapplication_set.all %}
                                                <tr>
                                                    <td>{{ application.scholarship.name}}</td>
                                                    <td>{{ application.scholarship.name}}</td>
                                                    <td>
                                                        <select name="status_{{ application.auto_id }}">
                                                            <option value="Aprobada" {% if application.application_status.type == 'Aprobada' %}selected{% endif %}>Aprobada</option>
                                                            <option value="Denegada" {% if application.application_status.type == 'Denegada' %}selected{% endif %}>Denegada</option>
                                                            <option value="Concluida" {% if application.application_status.type == 'Concluida' %}selected{% endif %}>Concluida</option>
                                                            <option value="En proceso" {% if application.application_status.type == 'En proceso' %}selected{% endif %}>En proceso</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="hidden" name="application_id" value="{{ application.auto_id }}">
                                                        </div>
                                                    </td>
                                                </tr>
                                            
                                            {% endfor %}
                                        </tbody>
                                </table>
                                <td>
                                    <div class="form-group text-center mb-4">
                                        <button type="submit" name="action" value="update_status" class="btn btn-sm btn-success text-white" style="margin-top: 10px;">Actualizar</button>
                                    </div>
                                </td>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}