{% extends 'layouts/base.html' %}
{% block content %}

<div class="container py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> 
            <a href="/home/"> Inicio</a> </li>
            <li class="breadcrumb-item active" aria-current="page"> Becas </li>
        </ol>
    </nav>
</div>

<div class="container p-5">
    <h1>Gestión de becas</h1>

    <div class="creation-scholarship">
        <a href="{% url 'add_scholarship' %}" class="btn btn-primary">Registrar Programa De Beca</a>
        <br><br>
    </div>

    <div class="types_scholarship">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg>
        <input placeholder="Becas Activas">
    </div>
    <br><br>

    <div class="search_scholarship">
        <h1>Buscar Beca por Nombre</h1>
        <form method="post">
            {% csrf_token %}
            <label for="nombre_beca">Nombre de Beca:</label>
            <input type="text" name="nombre_beca" id="nombre_beca">
            <button type="submit">Buscar</button>
        </form>
    
        {% if searched %}
            <h2>Resultados de la Búsqueda:</h2>
            <ul>
                <li><a class="btn btn-primary" href="/show_scholarship_info?auto_id={{searched.auto_id}}">{{ searched.name }}</a></li>
            </ul>
            
        {% else %}
             {{msg}}    
        {% endif %}
    </div>
    
    <div class="show-scholarships">
        <h2>Listados de becas</h2>
        {% load send_id %}
        {% if scholarships %}
            {% for scholarship in scholarships %}
                <article class="card container p-1">
                    <a href="{% send_id 'show_scholarship_info' scholarship.auto_id %}" class="btn btn-primary">
                        Beca: {{ scholarship.name }}
                    </a>
                </article>
            {% endfor %}
        {% else %}
            <p>No hay registros de becas</p>
        {% endif %}
    </div>   
</div>


{% endblock %}