{% extends 'layouts/base.html' %}

{% block content %}

<div class="container py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> 
            <a href="/home/"> Inicio</a></li>
            <li class="breadcrumb-item">
            <a href="{% url 'scholarship' %}">Becas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Informacion Beca </li>
        </ol>
    </nav>
  </div>

    <div class="container p-5">
        <h1 class="fw-bold" style="color: black;">Beca: {{scholarship.name}} </h1><br>
        <div class="scholarship-info">

            <p class="fw-bold">Resumen: </p>
            <p>{{ scholarship.summary }}</p>

            <p class="fw-bold">Dirigida a: </p>
            <p>{{ scholarship.target_audiences }}</p>

            <p class="fw-bold">Beneficios a: </p>
            <p>{{ scholarship.benefits }}</p>

            <p class="fw-bold">Recomendaciones: </p>
            <p>{{ scholarship.recomendations }}</p>

            <p class="fw-bold">Informacion adicional: </p>
            <p>{{ scholarship.additional_info }}</p>            
            
            <a href="{% url 'delete_scholarship' %}" class="btn btn-warning">Eliminar Beca</a>
            <a href="{% url 'update_scholarship' %}" class="btn btn-secondary">Actualizar Beca</a>
        </div>
    </div>

    
    {% endblock %}
    <!--
        For future functions, delete and modify view Calendar
        
        <a href="/add_type_to_scholarship?auto_id={{scholarship.auto_id}}" class="btn btn-secondary">Añadir Tipo de Beca</a>
    -->
        
    
