{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container p-5">
        <h1>Formulario de registro</h1>

        <div id="error-message" class="alert alert-danger">
            {{ error }}
        </div>

        <form action="/signup/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">
                Registrarse
            </button>
        </form>

        <a href="/" class="btn btn-outline-primary mt-2">
            Ya tengo una cuenta
        </a>
    </div>

    <script>
        const divError = document.getElementById('error-message');
        const value = divError.innerText;

        divError.hidden = value === '';
    </script>
{% endblock %}