{% extends 'layouts/base.html' %}

{% block content %}

    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> 
                <a href="/home/"> Inicio</a> </li>
                <li class="breadcrumb-item active" aria-current="page"> Informes </li>
            </ol>
        </nav>
    </div>

    {% if error_message %}
        <section class="container-fluid">
            <p class="alert alert-danger">
                {{ error_message }}
            </p>
        </section>
    {% endif %}

    <div class="container p-5 my-3 border shadow">
        <h1 class="text-center">Gestión de archivos/informes</h1>
        <ul class="nav justify-content-center">
            <li class="nav-item btn-group m-2">
                <button class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                >Generar informe</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'loc' %}">Aspirantes</a>
                    <a class="dropdown-item" href="{% url 'rv_scholarship_students' %}">
                        Estudiantes becados
                    </a>
                    <a class="dropdown-item" href="#">
                        Financiero
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a href="/reports_upload/" class="btn btn-primary m-2">
                    Cargar archivo/informe
                </a>
            </li>
            <li class="nav-item">
                <a href="mailto:" class="btn btn-primary m-2">
                    Enviar archivo/informe
                </a>
            </li>
        </ul>
    </div>

    <div class="container">
        <h2>Archivos/informes cargados</h2>
        {% for file in files %}
        <form action="{% url 'delete_report' file.id %}" method="POST">
            {% csrf_token %}
        <div class="card m-3 shadow">
            <div class="card-body">
                <a href="{{ file.my_file.url }}" target="_blank" data-file-url="{{ file.my_file.url }}">
                    {{ file.my_file }}
                </a>
                <a href="/delete_report?file_id={{file_id}}">
                    <input type="submit"
                    value="delete"
                    class="material-icons btn btn-danger float-end"
                    id="delete-report">
                 </a>
                
                <div class="pdf-container">
                    <div class="pdf-preview"></div>
                </div>
            </div>
        </div>
        </form>
        {% endfor %}
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var cards = document.querySelectorAll('.card');
    
            cards.forEach(function(card) {
                var link = card.querySelector('a[data-file-url$=".pdf"]');
                if (link) {
                    var url = link.getAttribute('data-file-url');
                    var pdfContainer = card.querySelector('.pdf-preview');
    
                    pdfjsLib.getDocument(url).promise.then(function(pdf) {
                        pdf.getPage(1).then(function(page) {
                            var canvas = document.createElement('canvas');
                            var ctx = canvas.getContext('2d');
                            var viewport = page.getViewport({ scale: 0.5 });
    
                            canvas.height = viewport.height;
                            canvas.width = viewport.width;
    
                            var renderContext = {
                                canvasContext: ctx,
                                viewport: viewport
                            };
    
                            page.render(renderContext);
    
                            pdfContainer.appendChild(canvas);
                        });
                    });
                }
            });
        });
    </script>
    <script>
        const btn_del = document.getElementById('delete-report');
        btn_del.addEventListener('click', () => {
            alert('Reporte eliminado.');
            delete(btn_del);
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}