<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Informe de aspirantes</title>
    <style>
        h1 {
            font-size: 30px;
        }

        h3 {
            font-size: 15px;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding-top: 3px;
        }

        td {
            padding-left: 3px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Beca: {{ scholarship.name }}</h1>
    </header>
    <main>
        <section>
            <p><b>Descripción:</b> {{ scholarship.description }}</p>
            <p><b>Presupuesto:</b> {{ scholarship.amount }}</p>
            <p><b>Tipo de beca:</b> {{ scholarship.type_scholarship }}</p>
        </section>
        <hr>
        <section>
            <h2>Aspirantes inscritos</h2>
            <table>
                <thead>
                <tr>
                    <th>Código de estudiante</th>
                    <th>Nombre completo</th>
                    <th>Correo institucional</th>
                    <th>Promedio ponderado</th>
                    <th>Fecha de solicitud para la beca</th>
                </tr>
                </thead>
                <tbody>
                {% for candidate in candidates %}
                    <tr>
                        <td>{{ candidate.student_code }}</td>
                        <td>{{ candidate.full_name }}</td>
                        <td>{{ candidate.email }}</td>
                        <td>{{ candidate.grade_point_average }}</td>
                        <td>{{ candidate.application_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>