{% extends 'layouts/base.html' %}

{% block content %}
<div class="container py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> 
            <a href="/home/"> Inicio</a></li>
            <li class="breadcrumb-item">
            <a href="{% url 'reports' %}">Informes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cargar Informe</li>
        </ol>
    </nav>
  </div>

    <div class="container p-5 shadow mt-2 w-50">
        <h1 class="text-center pb-3">Cargar informe</h1>

        <form class="text-center" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_for_file.as_div }}
            <button id="btn-upload" class="btn btn-primary mt-2">
                Guardar
            </button>
        </form>
        <hr>
        <div class="text-center">
            <a class="btn btn-secondary mt-2" href="/reports/">
                Volver
            </a>
        </div>
    </div>

    <script>
        const inputLabel = document.querySelector('label');
        const btnUpload = document.querySelector('#btn-upload');
        inputLabel.innerHTML = '<i class="material-icons">file_upload</i>';
        btnUpload.addEventListener('click', () => {
            alert('Informe añadido exitosamente');
        });
    </script>
{% endblock %}
